body {
        background-color: #E4E4E4;
        font-family: Monospace;
}

h1 {
        padding: 25px;
        text-align: center;
        font-size: 155px;;
        margin: 200px auto;
}

h2, h3, pre {
    text-align: center;
}

